@font-face {
    font-family: Argentum-Regular;
    src: url(../fonts/ArgentumSans-Regular.ttf);
}

@font-face {
    font-family: Argentum-Bold;
    src: url(../fonts/ArgentumSans-Bold.ttf);
}

@keyframes arrowUpDown {
    0%{
        bottom: 8%;
    }
    50%{
        bottom: 13%;
    }
    100%{
        bottom: 8%;
    }
}

@keyframes FadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

:root{
    --font-default: Argentum-Regular;
    --font-bold: Argentum-Bold;

    --color1: #171A21;
    --color2: #F75C03;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color1);
    color: var(--color2);
    font-family: var(--font-default);
}

.conteiner-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    animation-name: FadeIn;
    animation: 2s ease-in-out 0s 1 FadeIn;
}

.title{
    font-family: var(--font-bold);
}

.title-projects{
    font-family: var(--font-bold);
}

.description{
    margin-top: 30px;
    margin-bottom: 20px;
}

.arrow{
    position: absolute;
    bottom: 10%;
    animation: 2s ease-in-out 0s infinite arrowUpDown;
}

.my-projects{
    margin-top: 5%;
    height: 400px;
}

[data-anime]{
    opacity: 0;
    transition: .5s;
  }
  
[data-anime = 'left'] {
    transform: translate3d(-150px , 0 , 0);
}

[data-anime = 'right'] {
    transform: translate3d(150px , 0 , 0);
}

[data-anime].animation{
    opacity: 1;
    transform: translate3d(0px,0px, 0px);
}

.title-projects > h2{
    padding-left: 10%;
}

.my-projects{
    width: 100%;
}

.project{
    border: 2px solid var(--color2);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.project > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.projects{
    margin-top: 80px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 600px);
    grid-template-rows: repeat(3, 300px);
    gap: 80px;
}

.text-project{
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: var(--color2);
    bottom: -3px;
    left: 0;
    width: 100%;
    padding-right: 1px;
    height: 25%;
    border-radius: 15px 15px 0px 0px;
    color: #fff;
    transition: .3s ease-in-out;
}

.text-project h3{
    padding: 10px 0px 0px 15px;
    font-size: 1.2rem;
    font-family: var(--font-bold);
}

.project:hover .text-project{
    height: 35%;
}

.project:hover .text-project a{
    opacity: 1;
}

.text-project a{
    position: relative;
    margin-top: 5px;
    opacity: 0;
    text-decoration: none;
    transition: .3s ease-in-out;
    display: block;
    color: #F6F4F3;
}

.text-project a:hover{
    color: #F6F4F3cc;
}

.project-links{
    align-self: flex-end; 
    margin-bottom: 10px;
    margin-right: 25px;
}




@media screen and (min-width: 1024px){

    .title{
        font-size: 1.8rem;
    }

    .title-projects{
        font-size: 1.3rem;
    }
    
    .description{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 415px){

    body{
        width: 100%;
    }

    .title{
        font-size: 1.2rem;
    }

    .text-project h3{
        padding: 10px 0px 0px 15px;
        font-size: 1rem;
        font-family: var(--font-bold);
    }
    
    .projects{
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(3, 150px);
        overflow: hidden;
        gap: 80px;
        height: 300vh;
    }
}